# Terraform
.terraform/
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars
terraform/**/windows_386/

# AWS
.aws/

# Environment
.env

# OS files
.DS_Store
